.project-font {
  /* font: 400 20px "Pacifico", cursive; */
  font: 400 35px "Georgia", serif;
}
.main {
  width: 70%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 2px #5cb85c;
}
.main p {
  font-size: 20px;
}
.centerDiv {
  width: 70%;
  margin: auto;
}
.footer {
  text-align: center;
}
#project-name {
  font-weight: bolder;
  font: 400 25px "Georgia", serif;
}

