.project-name {
  font: 400 20px "Pacifico", cursive;
}
.main {
  width: 70%;
  margin: auto;
  /* border: 1px solid #5cb85c; */
  /* border-radius: 5px; */
  box-shadow: 3px 3px 2px 2px grey;
}
.main p {
  font-size: 20px;
}
.centerDiv {
  width: 70%;
  margin: auto;
}
.footer {
  text-align: center;
}
